.summary-price {
    font-size: x-large;
}

.item{
    margin: 10px ;
    padding: 10px 0;
    background-color: antiquewhite;
    border-radius: 15px;
}

img.img-akt{  
    max-width: 200px;    
}

.item-description,label{
    font-style: italic;
    font-size: larger;
}

.final-price{
    font-size: x-large;
}

.edit-item{
    max-width: 40px;
}

.button{
    display: inline-block;
    background-color: antiquewhite;
    border: none;
    font-size: 1.5em;
}

#quantity-input-box {
    width: 100%;
}

#quantity-input-box input{
    width: 50%;
}

#quantity-submit {
    margin-left: 40px;
}

@media (min-width: 576px) {

    .edit-item{
        max-width: 50px;
    }

    #quantity-submit {
        margin-left: 130px;
    }
}

@media (min-width: 767px) {

    #quantity-submit {
        margin-left: 90px;
    }
}