.summary-price {
    font-size: 1.5rem;
}

.item{
    margin: 10px ;
    padding: 10px 0;
    background-color: antiquewhite;
    border-radius: 15px;
}

.img-cart {
    max-width: 240px;
}

.final-price{
    font-size: 1.3rem;
}

.edit-item{
    max-width: 40px;
}

.button{
    display: inline-block;
    background-color: antiquewhite;
    border: none;
    font-size: 1.5em;
}

#quantity-input-box {
    width: 100%;
}

#quantity-input-box input{
    width: 50%;
}

#quantity-submit {
    margin-left: 40px;
}

@media (min-width: 576px) {

    .edit-item{
        max-width: 50px;
    }

    #quantity-submit {
        margin-left: 118px;
    }
}

@media (min-width: 767px) {

    #quantity-submit {
        margin-left: 78px;
    }
}