.summary-price{
    margin-left: 50%;
    font-size: x-large;
    font-weight: bold;
}

.item{
    margin: 10px ;
    padding: 10px 0;
    background-color: antiquewhite;
    border-radius: 15px;
}

img.img-akt{  
    width: 100%;
    max-width: 200px;
    height: auto;
    
}
.item-description,label{
    font-style: italic;
    font-size: larger;
}

.final-price{
    float: right;
    font-size: x-large;
}
.edit-item{
    min-width: 25px;
    display: inline-block;
    max-width: 70px;
    width: 8.5vw;
}
button.input-btn {
    padding-bottom: 0.25%;
    padding-top: 0.25%;
    vertical-align: top;
}


.button{
    display: inline-block;
    background-color: antiquewhite;
    border: none;
    font-size: 1.5em;
}

#quantity-input-box {
    width: 100%;
}

#quantity-input-box button{
    padding: 0;
    width: 10%;
}

#quantity-input-box input{
    width: 50%;
}
