.select-title{
    font-weight: bold;
    font-size: larger;
}

.card{
    padding-top: 2%;
    margin-top: 2%;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.summary {
    margin-top: 1%;
    font-size: 1.2rem;
}

.price {
    margin-left: 18px;
}


