.h2 {
    font-size: 1.6em;
}

.h3 {
    font-size: 1.4rem
}

.section-heading {
    margin-bottom: 2%;
}

.center-text {
    text-align: center;
}

/** elements that appears on images **/

.image-elements {
    position: absolute;
}

.banner-image-elements {
    bottom: 10%;
}

.medium-image-elements {
    bottom: 6%;
}

.price-on-image {
    top: 10%;
    left: 80%;
}

/** link that looks like button **/

.link-button {
    display: block;
    background-color: #606060;
    border-radius: 6px;
    padding: 2% 4%;
    color: white;
}

.link-button:hover, .link-button:focus, .link-button:active, .link-button:visited {
    text-decoration: none !important;
    outline-style: none !important;
    color: white;
}

/** media queries **/

@media (min-width: 400px) {
    
    .h2 {
        font-size: 1.8em;
    }

    .h3 {
        font-size: 1.6em;
    }
}

@media (min-width: 576px) {

    .h2 {
        font-size: 2em;
    }

    .h3 {
        font-size: 1.75em;
    }

}

@media (min-width: 768px) {

    .h3 {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) { 
    .h3 {
        font-size: 1.75em;
    }
}