.price-value {
    color: red;
}

.price {
    font-weight: bold;
    font-size: 1.1rem;
}

.overview {
    max-width: 70px;
}

.order-data > span {
    display: block;
    margin-top: 1px;
}

.info-table th{
    color: #a4a4a4;
    padding-right: 15px;
    font-weight: normal;
    vertical-align: top;
}