.wrapper {
    max-width: 1496px;
}

.sort-selection, #top-filter, .pagination {
    font-size: 0.9rem;
}

/** product information **/

.product-content {
    display: flex;
    margin-top: 4%;
}

.product-info {
    width: 80%;
}

.product-info {
    font-size: 0.8rem;
}

.product-info del {
    display: inline-block;
    margin-right: 10%;
}

.cart {
    width: 20%;
}

/** product colors**/

.color-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.color-box:before {
    content: "";
    display: block;
}

.color {
    border: 1px solid black;
    cursor: pointer;
    width: 10%;
    margin-right: 8%;
}

.color:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.color-box>.color:last-of-type {
    margin-right: 0;
}

/** sorting **/

#sort-label {
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 2%;
}

select {
    border-radius: 5px; 
    padding-left: 2%;
    padding-right: 5%;
}

select:focus {
    outline: none;
}

/** filters **/

.filter {
    height: fit-content;
}

.filter label{
    cursor: pointer;
    display: inline;
}

.filter form {
    padding-left: 10%;
}

/** left filter **/

#left-filter {
    margin-left: 0.8%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid 1px #c4c4c4;
}

#left-filter ul {
    padding-left: 10%;
}

#left-filter h4 {
    font-size: 1.3rem;
}

#left-filter label {
    font-size: 0.9rem;
    margin-left: 2%;
}

#left-filter .filter-category {
    margin-bottom: 15%;
}

#left-filter .filter-category:last-of-type {
    margin-bottom: 10%;
}

#left-filter .filter-category ul {
    margin-top: 2%;
}

#left-filter .filter-category li {
    margin-bottom: 4%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#left-filter .filter-category li:last-child {
    margin-bottom: 0;
}

/** top filter **/

.dropdown-button {
    width: 100%;
    border: none;
    background-color: #ffffff;
    padding-left: 2%;
}

.dropdown-button:focus {
    outline: none;
}

.dropdown-button-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-filter, .dropdown-button {
    border-radius: 5px;
}

#top-filter {
    border: 1px solid rgb(118, 118, 118);
}

#top-filter-menu {
    padding: 5% 5%;
}

#top-filter-menu li{
    margin-bottom: 2%;
}

#top-filter-menu .filter-category {
    margin-bottom: 5%;
}

#top-filter-menu .filter-category:last-of-type {
    margin-bottom: 2%;
}

#close-filter {
    margin-left: 5%;
}

/** stolen from bootstrap **/

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/** pagination **/

.pagination li .pagination-three-dots:hover {
    background-color: #ffffff;
}

.pagination:first-of-type {
    margin-top: 3%;
}

/** media queries **/

@media (min-width: 400px) {
    .product-info {
        font-size: 0.9rem;
    }
}

@media (min-width: 576px) {
    .product-info {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .product-info, .sort-selection, .pagination {
        font-size: 0.85rem;
    }

    select {
        padding-left: 2%;
        padding-right: 20%;
    }
}

@media (min-width: 992px) {
    .product-info, .sort-selection, .pagination {
        font-size: 0.9rem;
    }
    #left-filter h4 {
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) {
    .product-info, #left-filter label, .sort-selection, .pagination {
        font-size: 1rem;
    }
    #left-filter h4 {
        font-size: 1.5 rem;
    }
}