h1 {
    font-size: 2.2rem;
}

a:hover, a:focus, a:active {
    text-decoration: none !important;
    outline-style: none !important;
}

select, input {
    border-radius: 5px;
}

input {
    border-width: 1px;
    border-style: solid;
}

/** carousel **/

.carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 7%;
}

.carousel-indicators li:last-of-type {
    margin-right: 0;
}

/** stars rating **/

.fa-star {
    color: #c4c4c4;
}

.checked {
    color: #606060;
}

/** product input **/

#product-input {
    margin-top: 15%;
}

#product-input a {
    font-size: 0.9rem;
}

#product-input > div {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

#product-input label {
    font-weight: bold;
}

#product-input select {
    padding-left: 2%;
}

#product-input > div input {
    padding-left: 3%;
}

#product-input label {
    margin-bottom: 0;
}

#add-to-cart {
    padding: 5% 10%;
    margin-top: 8%;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

#add-to-cart:hover {
    background-color: #c4c4c4;
}

#quantity-input-box {
    width: 100%;
}

#quantity-input-box input{
    width: 65%;
}

/** modal window - after add to cart **/

.modal-footer-custom {
    justify-content: center;
}

/** price section **/

#price-section strong{
    font-size: 2.4rem;
    margin-right: 10%;
}

.price-off {
    color: red;
}

.normal-price {
    color: green;
}

#price-section del {
    font-size: 1.2rem;
}

/** product description **/

.product-attributes th {
    padding-right: 20px;
}

.product-attributes th, .product-attributes td {
    padding-bottom: 10px;
}

/** reviews **/

.review {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
}

.review-separator {
    width: 50%;
    margin: 4% auto 0 auto;
    border-color: #d2d2d2;
}

.review:last-of-type > .review-separator {
    border: 0;
    margin: 0;
}

#add-review {
    margin-top: 3%;
}

/** rating table **/

#rating-table {
    width: 100%;
    margin-top: 2%;
}

#rating-table td, #rating-table th {
    padding-bottom: 3%;
}

#rating-table th {
    font-weight: normal;
}

.ratio-col {
    width: 70%;
}

.stars-col {
    width: 11%;
}

#rating-table .progress {
   width: 94%;
   margin: 0 auto;
}

/** pagination **/

.pagination li .pagination-three-dots:hover {
    background-color: #ffffff;
}

.pagination:first-of-type {
    margin-top: 3%;
}

/** media queries **/

@media (min-width: 576px) {
    .stars-col {
        width: 8%;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .stars-col {
        width: 5%;
    }

    #quantity-input-box {
        width: 50%;
    }

    #quantity-input-box input{
        width: 100%;
    }

    #product-input > div input {
        padding-left: 5%;
    }
}

@media (min-width: 992px) {
    .stars-col {
        width: 15%;
    }
}
