.profile-icon {
    max-width: 70px;
}

.profile-link {
    font-size: 1.1rem;
}

.small-text {
    font-size: 0.9rem;
}

@media (min-width: 576px) {
    .profile-icon {
        max-width: 96px;
    }
}