<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/cart1.css">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <!--Breadcrumb-->
            <div class="center-box">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Košík</li>
                        <li class="breadcrumb-item"><a href="#" onClick="window.location='cart2.html';">Doprava a
                                platba</a></li>
                        <li class="breadcrumb-item"><a href="#" onClick="window.location='cart3.html';">Dodacie
                                údaje</a></li>
                    </ol>
                </nav>
            </div>
            <hr>
        </div>
    </div>
    <div class="wrapper">
        <main class="container">

            <header>
                <h3>Váš nákupný košík</h3>
                <p class="items-amount">Počet produktov v košíku: 2 </p>
            </header>

            <div class="container items">
                <article class="row item">
                    <div class="col-xs-12  col-sm-5 col-md-4 col-lg-3 item-picture">
                        <div class="image-content">
                            <a href="">
                                <picture>
                                    <source media="(max-width: 576px)" srcset="../assets/images/bluzka1_400x600.jpg">
                                    <img src="../assets/images/bluzka1_600x800.jpg" alt="Blúzka s volánom"
                                        class="img-responsive">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-5 col-md-5 col-lg-6  item-descript">
                        <h3 class="item-name">Blúzka so vzorom</h3>
                        <p class="item-description">Velkosť: XS</p>
                        <p class="item-description">Farba: Biela </p>
                        <div class="amount">
                            <label for="amount-input">Množstvo:</label><br>
                            <button class="button">+</button>
                            <input type="text" id="amount-input" placeholder=" 2">
                            <button class="button">-</button>
                        </div>
                        <p class="final-price">Cena: 22€</p>
                    </div>
                    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-3  item_edit">
                        <div class="icons">
                            <img class="edit-item" alt="upraviť" title="Upraviť" src="../assets/icons/edit_icon.png">
                            <img class="edit-item" alt="Vymazať" title="Vymazať" src="../assets/icons/delete_icon.png">
                        </div>
                    </div>
                </article>


                <article class="row item">
                    <div class="col-xs-12  col-sm-5 col-md-4 col-lg-3 item-picture">
                        <div class="image-content">
                            <a href="">
                                <picture>
                                    <source media="(max-width: 576px)" srcset="../assets/images/bluzka2_400x600.jpg">
                                    <img src="../assets/images/bluzka2_550x800.jpg" alt="Blúzka s volánom"
                                        class="img-responsive">
                                </picture>
                            </a>>
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-5 col-md-5 col-lg-6  item_descript">
                        <h3 class="item-name">Volánová blúzka</h3>
                        <p class="item-description">Veľkosť: M</p>
                        <p class="item-description">Farba: Biela </p>
                        <div class="amount">
                            <label for="amount-input1">Množstvo:</label><br>
                            <button class="button">+</button>
                            <input type="text" id="amount-input1" placeholder="1">
                            <button class="button">-</button>
                        </div>
                        <p class="final-price">Cena: 10€</p>
                    </div>
                    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-3  item_edit">
                        <div class="icons">
                            <img class="edit-item" alt="Upraviť" title="Upraviť" src="../assets/icons/edit_icon.png">
                            <img class="edit-item" alt="Vymazať" title="Vymazať" src="../assets/icons/delete_icon.png">
                        </div>
                    </div>
                </article>
                <hr>
                <div class="row summary">
                    <div class="col-12">
                        <p class="summary-price">CENA SPOLU: 32€</p>
                        <button class="back-button" onClick="window.location='product-category.html';">Späť do
                            obchodu</button>
                        <button class="submit-button" onClick="window.location='cart2.html';" type="submit"> POKRAČOVAŤ
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>