<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/cart1.css">
</head>

<body>
    <!--Opaque layers-->
    <div id="opaque-layer-sm" class="opaque-layer pop-up d-none d-sm-none"></div>
    <div id="opaque-layer-lg" class="opaque-layer pop-up d-none d-lg-none"></div>

    <!--Page header-->
    <div class="wrapper">
        <header class="container">
            <div class="row page-header">
                <!--Logo-->
                <div id="logo-box" class="col-2 col-4-sm d-md-block">
                    <a href="../index.html">
                        <picture>
                            <source media="(min-width: 576px)" srcset="../assets/images/logo.png">
                            <img src="../assets/images/logo-cropped.png" alt="Logo">
                        </picture>
                    </a>
                </div>
                <!--Icon nav + Search-->
                <div id="icons-box" class="col-10 col-8-sm d-md-flex vertical-reverse ">
                    <div class="header-icons">
                        <a href="cart.html" class="cart-link">
                            <i class="fa fa-shopping-cart icon" aria-hidden="true"></i>
                        </a>

                        <!--Profile button-->
                        <div id="profile-dropdown">
                            <button class="icon-btn" onclick="handleProfileButtonClick()">
                                <i class="fa fa-user icon" aria-hidden="true"></i>
                            </button>

                            <!--Profile menu-->
                            <nav id="profile-menu" class="pop-up d-none">
                                <!--Close menu button-->
                                <button class="left-menu-close icon-btn d-inline-block d-sm-none" onclick="closeMenu()">
                                    <i class="fa fa-times-circle icon" aria-hidden="true"></i>
                                </button>


                                <ul>
                                    <li>
                                        <a href="login.html">Prihlásenie</a>
                                    </li>
                                    <li>
                                        <a href="register.html">Registrácia</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <!--Search button - < 768px-->
                        <button class="icon-btn d-inline-block d-md-none" id="search-icon"
                            onclick="handleSearchButtonClick()">
                            <i class="fa fa-search icon"></i>
                        </button>

                        <!--Search bar - >= 768px-->
                        <div class="d-none d-md-block">
                            <form action="">
                                <input type="text" name="search-full-text" class="search-full-text"
                                    placeholder="Zadajte hľadaný výraz">
                                <button type="submit" class="icon-btn">
                                    <i class="fa fa-search icon"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Search bar - < 768px-->
                <div id="search-bar" class="col-12 d-none d-md-none">
                    <button class="icon-btn">
                        <i class="fa fa-times-circle icon" aria-hidden="true" onclick="handleSearchButtonClick()"></i>
                    </button>
                    <form action="" id="search-form-xs">
                        <input type="text" name="search-full-text" class="search-full-text"
                            placeholder="Zadajte hľadaný výraz" id="search-input-xs">
                        <button type="submit" id="search-submit-xs" class="icon-btn">
                            <i class="fa fa-search icon"></i>
                        </button>
                    </form>
                </div>
            </div>
        </header>
    </div>

    <!--Main menu-->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 menu-col">
                    <nav id="main-menu">
                        <!--Navigation - >= 992px-->
                        <ul id="first-level" class="d-none d-lg-block">
                            <li>
                                <div class="nav-item-dropdown" onmouseover="showMenSubmenu()"
                                    onmouseout="hideMenSubmenu()">
                                    <a href="product-category.html" class="navigation-link">
                                        Muži
                                    </a>
                                    <nav id="men-submenu" class="sub-menu dropdown-content d-none">
                                        <ul>
                                            <li>
                                                <a href="product-category.html">Tričká</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Košeľe</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Nohavice</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Obleky</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Novinky</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Akcie</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Najlepšie hodnotené</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </li>
                            <li>
                                <div class="nav-item-dropdown" onmouseover="showWomenSubmenu()"
                                    onmouseout="hideWomenSubmenu()">
                                    <a href="product-category.html" class="navigation-link">
                                        Ženy
                                    </a>
                                    <nav id="women-submenu" class="sub-menu dropdown-content d-none">
                                        <ul>
                                            <li>
                                                <a href="product-category.html">Tričká</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Blúzky</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Šaty</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Nohavice</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Svetre</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Novinky</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Akcie</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Najlepšie hodnotené</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </li>
                            <li>
                                <div class="nav-item-dropdown" onmouseover="showKidsSubmenu()"
                                    onmouseout="hideKidsSubmenu()">
                                    <a href="product-category.html" class="navigation-link">
                                        Deti
                                    </a>
                                    <nav id="kids-submenu" class="sub-menu dropdown-content d-none">
                                        <ul>
                                            <li>
                                                <a href="product-category.html">Tričká</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Kombinézy</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Svetre</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Mikiny</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Novinky</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Akcie</a>
                                            </li>

                                            <li>
                                                <a href="product-category.html">Najlepšie hodnotené</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </li>
                        </ul>

                        <!--Navigation - < 992px-->
                        <button id="menu-bars" class="icon-btn d-block d-lg-none" onclick="showLeftMenu()">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!--Left menu - first level-->
                        <nav id="left-menu" class="left-menu pop-up d-none d-lg-none">
                            <!--Close menu button-->
                            <button class="left-menu-close icon-btn d-inline-block" onclick="closeMenu()">
                                <i class="fa fa-times-circle icon" aria-hidden="true"></i>
                            </button>
                            <table class="left-menu-table">
                                <colgroup>
                                    <col span="1" class="col-80">
                                    <col span="1" class="col-20">
                                </colgroup>

                                <tr>
                                    <td class="left-td">
                                        <button class="btn btn-link left-menu-btn" onclick="showLeftMenSubmenu()">
                                            Muži

                                        </button>
                                    </td>
                                    <td class="arrow-td">
                                        <i class="fa fa-long-arrow-right" onclick="showLeftMenSubmenu()"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left-td">
                                        <button class="btn btn-link left-menu-btn"
                                            onclick="showLeftWomenSubmenu()">Ženy</button>
                                    </td>
                                    <td class="arrow-td">
                                        <i class="fa fa-long-arrow-right" onclick="showLeftWomenSubmenu()"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left-td">
                                        <button class="btn btn-link left-menu-btn"
                                            onclick="showLeftKidsSubmenu()">Deti</button>
                                    </td>
                                    <td class="arrow-td">
                                        <i class="fa fa-long-arrow-right" onclick="showLeftWomenSubmenu()"></i>
                                    </td>
                                </tr>
                            </table>
                        </nav>

                        <!--Left menu - second level-->
                        <nav id="left-men-submenu" class="left-menu left-submenu pop-up d-none d-lg-none">
                            <!--Close menu button-->
                            <button class="left-menu-close icon-btn d-inline-block d-lg-none" onclick="closeMenu()">
                                <i class="fa fa-times-circle icon" aria-hidden="true"></i>
                            </button>

                            <!--Back to first level-->
                            <table class="left-menu-table left-submenu-table">
                                <colgroup>
                                    <col span="1" class="col-70">
                                    <col span="1" class="col-30">
                                </colgroup>
                                <tr>
                                    <td class="left-td arrow-td" onclick="closeLeftSubmenu('left-men-submenu')">
                                        <i class="fa fa-long-arrow-left"></i>
                                    </td>
                                    <td onclick="closeLeftSubmenu('left-men-submenu')">
                                        Muži
                                    </td>
                                </tr>
                            </table>
                            <ul>
                                <li>
                                    <a href="product-category.html">všetky produkty</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Tričká</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Košeľe</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Nohavice</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Obleky</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Novinky</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Akcie</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Najlepšie hodnotené</a>
                                </li>
                            </ul>
                        </nav>

                        <!--Left menu - second level-->
                        <nav id="left-women-submenu" class="left-menu left-submenu pop-up d-none d-lg-none">
                            <!--Close menu button-->
                            <button class="left-menu-close icon-btn d-inline-block d-lg-none" onclick="closeMenu()">
                                <i class="fa fa-times-circle icon" aria-hidden="true"></i>
                            </button>

                            <!--Back to first level-->
                            <table class="left-menu-table left-submenu-table">
                                <colgroup>
                                    <col span="1" class="col-70">
                                    <col span="1" class="col-30">
                                </colgroup>
                                <tr>
                                    <td class="left-td arrow-td" onclick="closeLeftSubmenu('left-women-submenu')">
                                        <i class="fa fa-long-arrow-left"></i>
                                    </td>
                                    <td onclick="closeLeftSubmenu('left-women-submenu')">
                                        Ženy
                                    </td>
                                </tr>
                            </table>
                            <ul>
                                <li>
                                    <a href="product-category.html">všetky produkty</a>
                                </li>
                                <li>
                                    <a href="product-category.html">Tričká</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Blúzky</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Šaty</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Nohavice</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Svetre</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Novinky</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Akcie</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Najlepšie hodnotené</a>
                                </li>
                            </ul>
                        </nav>

                        <!--Left menu - second level-->
                        <nav id="left-kids-submenu" class="left-menu left-submenu pop-up d-none">
                            <!--Close menu button-->
                            <button class="left-menu-close icon-btn d-inline-block d-lg-none" onclick="closeMenu()">
                                <i class="fa fa-times-circle icon" aria-hidden="true"></i>
                            </button>

                            <!--Back to first level-->
                            <table class="left-menu-table left-submenu-table">
                                <colgroup>
                                    <col span="1" class="col-70">
                                    <col span="1" class="col-30">
                                </colgroup>
                                <tr>
                                    <td class="left-td arrow-td" onclick="closeLeftSubmenu('left-kids-submenu')">
                                        <i class="fa fa-long-arrow-left"></i>
                                    </td>
                                    <td onclick="closeLeftSubmenu('left-kids-submenu')">
                                        Deti
                                    </td>
                                </tr>
                            </table>

                            <ul>
                                <li>
                                    <a href="product-category.html">všetky produkty</a>
                                </li>
                                <li>
                                    <a href="product-category.html">Tričká</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Kombinézy</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Svetre</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Mikiny</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Novinky</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Akcie</a>
                                </li>

                                <li>
                                    <a href="product-category.html">Najlepšie hodnotené</a>
                                </li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <!--Breadcrumb-->
            <div class="center-box">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Košík</li>
                        <li class="breadcrumb-item"><a href="#" onClick="window.location='cart2.html';">Doprava a
                                platba</a></li>
                        <li class="breadcrumb-item"><a href="#" onClick="window.location='cart3.html';">Dodacie
                                údaje</a></li>
                    </ol>
                </nav>
            </div>
            <hr>
        </div>
    </div>
    <div class="wrapper">
        <main class="container">

            <header>
                <h3>Váš nákupný košík</h3>
                <p class="items-amount">Počet produktov v košíku: 2 </p>
            </header>

            <div class="container items">
                <article class="row item">
                    <div class="col-xs-12  col-sm-5 col-md-4 col-lg-3 item-picture">
                        <div class="image-content">
                            <a href="">
                                <picture>
                                    <source media="(max-width: 576px)" srcset="../assets/images/bluzka1_400x600.jpg">
                                    <img src="../assets/images/bluzka1_600x800.jpg" alt="Blúzka s volánom"
                                        class="img-responsive">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-5 col-md-5 col-lg-6  item-descript">
                        <h3 class="item-name">Blúzka so vzorom</h3>
                        <p class="item-description">Velkosť: XS</p>
                        <p class="item-description">Farba: Biela </p>
                        <div class="amount">
                            <label for="amount-input">Množstvo:</label><br>
                            <button class="button">+</button>
                            <input type="text" id="amount-input" class="txt-input" placeholder=" 2">
                            <button class="button">-</button>
                        </div>
                        <p class="final-price">Cena: 22€</p>
                    </div>
                    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-3  item_edit">
                        <div class="icons">
                            <img class="edit-item" alt="upraviť" title="Upraviť" src="../assets/icons/edit_icon.png">
                            <img class="edit-item" alt="Vymazať" title="Vymazať" src="../assets/icons/delete_icon.png">
                        </div>
                    </div>
                </article>


                <article class="row item">
                    <div class="col-xs-12  col-sm-5 col-md-4 col-lg-3 item-picture">
                        <div class="image-content">
                            <a href="">
                                <picture>
                                    <source media="(max-width: 576px)" srcset="../assets/images/bluzka2_400x600.jpg">
                                    <img src="../assets/images/bluzka2_550x800.jpg" alt="Blúzka s volánom"
                                        class="img-responsive">
                                </picture>
                            </a>>
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-5 col-md-5 col-lg-6  item_descript">
                        <h3 class="item-name">Volánová blúzka</h3>
                        <p class="item-description">Veľkosť: M</p>
                        <p class="item-description">Farba: Biela </p>
                        <div class="amount">
                            <label for="amount-input1">Množstvo:</label><br>
                            <button class="button">+</button>
                            <input type="text" id="amount-input1" class="txt-input" placeholder="1">
                            <button class="button">-</button>
                        </div>
                        <p class="final-price">Cena: 10€</p>
                    </div>
                    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-3  item_edit">
                        <div class="icons">
                            <img class="edit-item" alt="Upraviť" title="Upraviť" src="../assets/icons/edit_icon.png">
                            <img class="edit-item" alt="Vymazať" title="Vymazať" src="../assets/icons/delete_icon.png">
                        </div>
                    </div>
                </article>
                <hr>
                <div class="row summary">
                    <div class="col-12">
                        <p class="summary-price">CENA SPOLU: 32€</p>
                        <button class="back-button" onClick="window.location='product-category.html';">Späť do
                            obchodu</button>
                        <button class="submit-button" onClick="window.location='cart2.html';" type="submit"> POKRAČOVAŤ
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>

</body>

</html>