<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/cart2.css">
</head>

<body>
    <!--Opaque layers-->
    <div id="opaque-layer-sm" class="opaque-layer pop-up d-none d-sm-none"></div>
    <div id="opaque-layer-lg" class="opaque-layer pop-up d-none d-lg-none"></div>

    <!--Page header-->
    <div class="wrapper">
        <header class="container">
            <div class="row page-header">
                <!--Logo-->
                <div id="logo-box" class="col-2 col-4-sm d-md-block">
                    <a href="../index.html">
                        <picture>
                            <source media="(min-width: 576px)" srcset="../assets/images/logo.png">
                            <img src="../assets/images/logo-cropped.png" alt="Logo">
                        </picture>
                    </a>
                </div>
                <!--Icon nav + Search-->
                <div id="icons-box" class="col-10 col-8-sm d-md-flex vertical-reverse ">
                    <div class="header-icons">
                        <a href="cart.html" class="cart-link">
                            <i class="fa fa-shopping-cart icon" aria-hidden="true"></i>
                        </a>

                        <!--Profile button-->
                        <div id="profile-dropdown">
                            <button class="icon-btn" onclick="handleProfileButtonClick()">
                                <i class="fa fa-user icon" aria-hidden="true"></i>
                            </button>

                            <!--Profile menu-->
                            <nav id="profile-menu" class="pop-up d-none">
                                <!--Close menu button-->
                                <button class="left-menu-close icon-btn d-inline-block d-sm-none" onclick="closeMenu()">
                                    <i class="fa fa-times-circle icon" aria-hidden="true"></i>
                                </button>


                                <ul>
                                    <li>
                                        <a href="login.html">Prihlásenie</a>
                                    </li>
                                    <li>
                                        <a href="register.html">Registrácia</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <!--Search button - < 768px-->
                        <button class="icon-btn d-inline-block d-md-none" id="search-icon"
                            onclick="handleSearchButtonClick()">
                            <i class="fa fa-search icon"></i>
                        </button>

                        <!--Search bar - >= 768px-->
                        <div class="d-none d-md-block">
                            <form action="">
                                <input type="text" name="search-full-text" class="search-full-text"
                                    placeholder="Zadajte hľadaný výraz">
                                <button type="submit" class="icon-btn">
                                    <i class="fa fa-search icon"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Search bar - < 768px-->
                <div id="search-bar" class="col-12 d-none d-md-none">
                    <button class="icon-btn">
                        <i class="fa fa-times-circle icon" aria-hidden="true" onclick="handleSearchButtonClick()"></i>
                    </button>
                    <form action="" id="search-form-xs">
                        <input type="text" name="search-full-text" class="search-full-text"
                            placeholder="Zadajte hľadaný výraz" id="search-input-xs">
                        <button type="submit" id="search-submit-xs" class="icon-btn">
                            <i class="fa fa-search icon"></i>
                        </button>
                    </form>
                </div>
            </div>
        </header>
    </div>
    <div class="wrapper">
        <div class="container">
            <!--Breadcrumb-->
            <div class="center-box">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" onClick="window.location='cart.html';">Košík</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Doprava a platba</li>
                        <li class="breadcrumb-item"><a href="#" onClick="window.location='cart3.html';">Dodacie
                                údaje</a></li>
                    </ol>
                </nav>
            </div>
            <hr>
        </div>
    </div>

    <div class="wrapper">
        <main class="container items">
            <h3>Výber dopravy a platby</h3>
            <form action="" id="cart-form" class="row item">
                <div class="col-xs-10  col-sm-6 col-md-5 col-lg-5 bloky">
                    <fieldset>
                        <legend class="select-title">
                            <p>Zvoľte dopravu</p>
                        </legend>
                        <div class="radio-buttons">
                            <input type="radio" class="radio-input" id="delivery1" name="delivery1">
                            <label class="radio-label" for="delivery1">Osobný odber</label>
                            <div class="row">
                                <div class="col">
                                    <p class="price-delivery">Zadarmo</p>
                                </div>
                                <div class="col">
                                    <p class="time-delivery"> dnes od 15:00</p>
                                </div>
                            </div>

                            <input type="radio" class="radio-input" id="delivery2" name="delivery1" checked>
                            <label class="radio-label" for="delivery2">Doručenie kuriérom</label>
                            <div class="row">
                                <div class="col">
                                    <p class="price-delivery">4.60€</p>
                                </div>
                                <div class="col">
                                    <p class="time-delivery">5.10</p>
                                </div>
                            </div>
                            <input type="radio" class="radio-input" id="delivery3" name="delivery1">
                            <label class="radio-label" for="delivery3">Pošta</label>
                            <div class="row">
                                <div class="col">
                                    <p class="price-delivery">1.76€</p>
                                </div>
                                <div class="col">
                                    <p class="time-delivery">zajtra</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-10  col-sm-5 col-md-5 col-lg-5 bloky">
                    <fieldset>
                        <legend class="select-title">
                            <p>Zvoľte platbu</p>
                        </legend>
                        <div class="radio-buttons">
                            <div>
                                <input type="radio" class="radio-input" id="pay1" name="pay">
                                <label class="radio-label" for="pay1">VúB e-platbyr</label>
                                <div class="col">
                                    <p class="pay-description">Zadarmo</p>
                                </div>
                            </div>

                            <div>
                                <input type="radio" class="radio-input" id="pay4" name="pay">
                                <label class="radio-label" for="pay4">Kartou online</label>
                                <div class="col">
                                    <p class="pay-description">Zadarmo</p>
                                </div>
                            </div>

                            <div>
                                <input type="radio" class="radio-input" id="pay2" name="pay" checked>
                                <label class="radio-label" for="pay2">Platba kuriérovi</label>
                                <div class="col">
                                    <p class="pay-description">3.60€</p>
                                </div>
                            </div>

                            <div>
                                <input type="radio" class="radio-input" id="pay3" name="pay">
                                <label class="radio-label" for="pay3">Bankový prevod</label>
                                <div class="col">
                                    <p class="pay-description">Zadarmo</p>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>
            </form>
            <div class="row summary">
                <div class="col-12">
                    <p class="summary-delivery">Doprava: Doručenie kuriérom</p>
                    <p class="summary-pay">Platba: Kartou online</p>
                    <p class="summary-price">CENA SPOLU : 40.20€</p>

                    <button class="back-button" onClick="window.location='cart.html';">Späť</button>
                    <button class="submit-button" onClick="window.location='cart3.html';" type="submit"
                        form="cart-form">
                        POKRAČOVAŤ</button>
                </div>
            </div>
        </main>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>

</body>

</html>