<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/product-detail.css">
    <title>E-shop</title>
</head>

<body>
    <!--640x896-->
    <!--200x280-->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-6 row-m-b padded-box">
                    <!--Carousel-->
                    <div id="carousel-product-images" class="carousel slide " data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-product-images" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-product-images" data-slide-to="1"></li>
                            <li data-target="#carousel-product-images" data-slide-to="2"></li>
                            <li data-target="#carousel-product-images" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="">
                                    <img class="d-block w-100 img-responsive"
                                        src="../assets/images/placeholder-600x840.png" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="">
                                    <img class="d-block w-100 img-responsive"
                                        src="../assets/images/placeholder-600x840.png" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="">
                                    <img class="d-block w-100 img-responsive"
                                        src="../assets/images/placeholder-600x840.png" alt="First slide"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="">
                                    <img class="d-block w-100 img-responsive"
                                        src="../assets/images/placeholder-600x840.png" alt="First slide"></a>
                            </div>
                        </div>

                        <a class="carousel-control-prev" data-target="#carousel-product-images" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" data-target="#carousel-product-images" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-5 row-m-b padded-box">
                    <div class="product-info">
                        <header>
                            <h1>Tričko s dlhým rukávom a potlačou</h1>
                            <a href="" class="rating-header">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span>(150)</span>
                            </a>
                        </header>

                        <span id="price-section">
                            <strong class="price-off">12.99</strong>
                            <del>17.99</del>
                        </span>
                        <form action="" id="product-input">
                            <div id="color-input-box">
                                <label for="color-selector">Farba:</label>
                                <select name="color-selector" id="color-selector">
                                    <option value="black">Čierna</option>
                                    <option value="blue">Modrá</option>
                                    <option value="white">Biela</option>
                                </select>
                            </div>

                            <div id="size-input-box">
                                <label for="size-selector">Veľkosť:</label>
                                <select name="size-selector" id="size-selector">
                                    <option value="xxs">XXS</option>
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m">M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                    <option value="xxl">XXL</option>
                                </select>
                                <a href="">Veľkostná tabuľka</a>
                            </div>

                            <div id="quantity-input-box">
                                <label for="quantity-input">Množstvo:</label>
                                <input type="number" name="quantity-input" id="quantity-input" value="1">
                            </div>

                            <input type="submit" value="Pridať do košíka" id="add-to-cart">
                        </form>
                    </div>
                </div>
                <hr>
                <div class="col-12 row-m-b padded-box" >
                    <section id="product-description">
                        <h2>Opis a vlastnosti produktu</h2>

                        <p>Skvelá priľnavá blúzka s čipkovaným lemovaním, mäkká bavlna je veľmi príjemná pri nosení
                            a dobre drží tvar.
                            Pohodlná blúzka sa skvelo hodí k elegantným čiernym nohaviciam či sukni.
                        </p>

                        <table id="product-attributes">
                            <tr>
                                <th>Materiál:</th>
                                <td>95 % bavlna, 5 % elastán</td>
                            </tr>
                            <tr>
                                <th>Značka:</th>
                                <td>RAINBOW</td>
                            </tr>
                            <tr>
                                <th>Farba:</th>
                                <td>biela</td>
                            </tr>
                            <tr>
                                <th>Priehľadnosť:</th>
                                <td>nepriesvitný</td>
                            </tr>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        $('.carousel').carousel({ interval: false, });
    </script>
</body>

</html>