<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/product-category.css">
    <title>E-shop</title>
</head>

<body>
    <div class="wrapper">
        <div class="center-box">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Hlavná stránka</a></li>
                    <li class="breadcrumb-item"><a href="#">Ženy</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blúzky</li>
                </ol>
            </nav>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row row-smaller-m-b">
                <!--Sorting selection-->
                <div class="offset-xl-8 offset-lg-7 offset-md-6"></div>
                <div class="col-xl-4 col-lg-5 col-md-6 col-12 pull-right">
                    <label for="sort-order">Zoradiť podľa:</label>
                    <select name="sort-order" id="sort-order">
                        <option value="popularity">Obľúbené</option>
                        <option value="price-desc">Cena zostupne</option>
                        <option value="price-asc">Cena vzostupne</option>
                    </select>
                </div>
            </div>
            <div class="row row-m-b">
                <!--Left filter-->
                <div class="col-lg-2 col-md-3 d-md-block d-none" id="left-filter">
                    <ul>
                        <li class="filter-category">
                            <h4>Farba</h4>
                            <ul>
                                <li>
                                    <input type="checkbox" id="white" name="white">
                                    <label for="white">biela</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="black" name="black">
                                    <label for="black">čierna</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="purple" name="purple">
                                    <label for="purple">fialová</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="blue" name="blue">
                                    <label for="blue">modrá</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="green" name="green">
                                    <label for="green"> zelená</label>
                                </li>
                            </ul>
                        </li>

                        <li class="filter-category">
                            <h4>Veľkosť</h4>
                            <ul>
                                <li>
                                    <input type="checkbox" id="xxs" name="xxs">
                                    <label for="xxs">XXS</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="xs" name="xs">
                                    <label for="xxs">XS</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="s" name="s">
                                    <label for="xxs">S</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="m" name="m">
                                    <label for="xxs">M</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="l" name="l">
                                    <label for="xxs">L</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="xl" name="xl">
                                    <label for="xxs">XL</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="xxl" name="xxl">
                                    <label for="xxs">XXL</label>
                                </li>
                            </ul>
                        </li>

                        <li class="filter-category">
                            <h4>Značka</h4>
                            <ul>
                                <li>
                                    <input type="checkbox" id="rainbow" name="rainbow">
                                    <label for="rainbow">RAINBOW</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="fashionweek" name="fashionweek">
                                    <label for="fashionweek">Fashionweek</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="esmara" name="esmara">
                                    <label for="esmara">Esmara</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="amando" name="amando">
                                    <label for="amando">Amando</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col ">
                    <div class="row row-m-b">
                        <!--Top filter-->
                        <div class="col-12 d-md-none d-block row-smaller-m-b">
                            <div id="top-filter">
                                <button class=" dropdown-button" onclick="showTopFilterMenu()">
                                    <span class="dropdown-button-content">
                                        Filter
                                        <i class="caret "></i>
                                    </span>
                                </button>
                                <div id="top-filter-menu" class="top-filter-menu">
                                    <label for="color-top">Farba</label>
                                    <select id="color-top" name="color-top">
                                        <option value="selected-colors" disabled selected hidden>všetky farby</option>
                                        <option value="all-colors" >všetky farby</option>
                                        <option value="white">biela</option>
                                        <option value="black">čierna</option>
                                        <option value="purple">fialová</option>
                                        <option value="blue">modrá</option>
                                        <option value="green">zelená</option>
                                    </select>

                                    <label for="size-top">Veľkosť</label>
                                    <select id="size-top" name="size-top">
                                        <option value="selected-sizes" disabled selected hidden>všetky veľkosti</option>
                                        <option value="all-sizes" >všetky veľkosti</option>
                                        <option value="xxs">XXS</option>
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                        <option value="xxl">XXL</option>
                                    </select>

                                    <label for="size-top">Značka</label>
                                    <select id="brand-top" name="brand-top">
                                        <option class="selected-brands" value="" disabled selected hidden>všetky značky</option>
                                        <option value="all-brands" >všetky značky</option>
                                        <option value="rainbow">RAINBOW</option>
                                        <option value="fashionweek">Fashionweek</option>
                                        <option value="esmara">Esmara</option>
                                        <option value="amando">Amando</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <!--Pagination-->
                        <div class="col-12 center-box">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"> <span class="page-link pagination-three-dots">....</span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">49</a></li>
                                    <li class="page-item"><a class="page-link" href="#">50</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <!--Products-->
                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-6 row-m-b">
                            <div class="image-content">
                                <a href="">
                                    <img src="../assets/images/placeholder-300x420.png" alt="" class="img-responsive">
                                </a>
                                <div class="color-box">
                                    <div style="background-color: black;" class="color"></div>
                                    <div style="background-color: blue;" class="color"></div>
                                    <div style="background-color: white;" class="color"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-info">
                                    <strong>Úpletový sveter</strong><br>
                                    <del>17.99</del><strong>12.99</strong>
                                </div>
                                <div class="cart">
                                    <a href="">
                                        <img src="../assets/icons/cart-icon.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--Pagination-->
                        <div class="col-12 center-box">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"> <span class="page-link pagination-three-dots">....</span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">49</a></li>
                                    <li class="page-item"><a class="page-link" href="#">50</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/product-category.js"></script>
</body>

</html>