

.summary-price{
    margin-left: 50%;
    font-size: x-large;
    font-weight: bold;
}

.item{
    margin: 10px ;
    padding: 10px 0;
    background-color: antiquewhite;
    border-radius: 15px;
}

.item-picture{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.item-description,label{
    font-style: italic;
    font-size: larger;
}

.final-price{
    float: right;
    font-size: x-large;
}
.edit-item{
    min-width: 25px;
    display: inline-block;
    max-width: 70px;
    width: 8.5vw;
}

input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
    width: 50px;
    text-align: center;
    display: inline-block;

}

.button{
    display: inline-block;
    background-color: antiquewhite;
    border: none;
    font-size: 1.5em;
}

