
.register-box{
    background-color: antiquewhite;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}
.login-button{
    position: center;
    background-color: sandybrown;
    color: saddlebrown;
    font-size: larger;
    padding: 15px;
    border: sandybrown;
    border-radius: 10px;
    margin-bottom: 10px;
}


.summary{
    font-size: larger;
}

