body {
    width: 100%;
    margin: auto;
}

h2 {
    font-size: 2em;
}
hr {
    width: 94%;
    margin: 0 auto 2% auto;
    size: 3px;
}

.item{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.item_picture{
    max-width: 300px;
}
.edit_item{
    width: 15%;
    min-width: 20px;
    max-width: 70px;
}

input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
    width: 50px;
    text-align: center;
    display: inline-block;

}

.button{
    display: inline-block;
    background-color: white;
    border: none;
    font-size: 1.5em;
}

.back_button{
    text-decoration: underline;
    float:left;
    margin-left: 3%;
    margin-bottom: 5%;
    border: none;
    background-color: white;
}

.submit_button{
    float: right;
    background-color: sandybrown;
    color: saddlebrown;
    text-align: center;
    padding: 0.5em;
    font-size: 1.3em;
    border: sandybrown;
    border-radius: 8px;
}
.submit_button:hover{
    font-size: 1.5em;
}

@media (min-width: 300px) {
    body {
        width: 100%;
    }

    .main-content {
        width: 100%;
    }

    .wrapper {
        font-size: 13px;
    }

}

@media (min-width: 400px) {

}

@media (min-width: 576px) {

    .wrapper {
        font-size: 14px;
    }

}

@media (min-width: 768px) {

    .main-content {
        width: 70%;
        margin: 0 auto;
    }

    .wrapper {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        font-size: 17px;
    }

}


@media (min-width: 1200px) {
    .wrapper {
        font-size: 18px;
    }

}