.wrapper {
    max-width: 1496px;
}

/** product information **/

.product-content {
    display: flex;
    margin-top: 4%;
}

.product-info {
    width: 80%;
}

.product-info del {
    display: inline-block;
    margin-right: 10%;
}

.cart {
    width: 20%;
}

/** product colors**/

.color-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.color-box:before {
    content: "";
    display: block;
}

.color {
    border: 1px solid black;
    cursor: pointer;
    width: 10%;
    margin-right: 8%;
}

.color:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.color-box > .color:last-of-type {
    margin-right: 0;
}

/** sorting **/

select {
    border-radius: 5px;
}

select:focus {
    outline: none;
}

/** left filter **/

label {
    font-weight: bold;
}

#left-filter {
    margin-left: 0.8%;
    border: solid 1px #c4c4c4;
    height: fit-content;
}

#left-filter ul {
    list-style: none;
    padding-left: 10%;
}

#left-filter>ul {
    margin-top: 10%;
}

#left-filter label {
    font-weight: normal;
    margin-left: 2%;
    cursor: pointer;
    display: inline;
}

.filter-category {
    margin-bottom: 25%;
}

.filter-category:last-child {
    margin-bottom: 15%;
}

.filter-category ul {
    margin-top: 9%;
}

.filter-category li {
    margin-bottom: 4%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter-category li:last-child {
    margin-bottom: 0;
}

/** top filter **/

.dropdown-button {
    width: 100%;
    border: none;
    background-color: #ffffff;
    padding-left: 2%;
}

.dropdown-button:focus {
    outline: none;
}

.dropdown-button-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-filter, .dropdown-button {
    border-radius: 5px;
}

#top-filter {
    border: 1px solid rgb(118, 118, 118);
}

.top-filter-menu {
    display: none;
    padding: 2% 4%;
}

.top-filter-menu label, .top-filter-menu select{
    display: block
}

.top-filter-menu label {
    margin-bottom: 0;
}

.top-filter-menu select{
    width: 100%;
    margin-bottom: 5%;
}

.show {
    display: block;
}

/** stolen from bootstrap **/
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/** breadcrumb **/

.breadcrumb {
    background-color: #ffffff;
    margin-bottom: 0;
}

hr {
    width: 94%;
}

.page-link {
    border: 0;
}

/** pagination **/

.pagination li .pagination-three-dots:hover {
    background-color: #ffffff;
}

.pagination:first-of-type {
    margin-top: 3%;
}

/** media queries **/

@media (min-width: 300px) {
    label {
        margin-right: 2%;
    }

    select {
        padding-left: 2%;
        padding-right: 5%;
    }

    #sort-label {
        margin-bottom: 0;
    }

    .product-info {
        font-size: 0.8rem;
    }

    .sort-selection, #top-filter, .breadcrumb, .pagination {
        font-size: 0.9rem;
    }
}

@media (min-width: 400px) {
    .product-info {
        font-size: 0.9rem;
    }
}

@media (min-width: 576px) {
    .product-info {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .product-info, #left-filter label, .sort-selection, .breadcrumb, .pagination {
        font-size: 0.85rem;
    }

    #left-filter h4 {
        font-size: 1.3rem;
    } 

    label {
        margin-right: 5%;
    }
    select {
        padding-left: 2%;
        padding-right: 20%;
    }
}

@media (min-width: 992px) {
    .product-info, #left-filter label, .sort-selection, .breadcrumb, .pagination {
        font-size: 0.9rem;
    }

    #left-filter h4 {
        font-size: 1.4rem;
    } 
}

@media (min-width: 1200px) {
    .product-info, #left-filter label, .sort-selection, .breadcrumb, .pagination {
        font-size: 1rem;
    }

    #left-filter h4 {
        font-size: 1.5 rem;
    }
}