a:hover, a:focus, a:active {
    text-decoration: none !important;
    outline-style: none !important;
}

select, select:focus, input, input:focus {
    outline: none;
}

select, input {
    border-radius: 5px;
}

input {
    border-width: 1px;
    border-style: solid;
}

hr {
    width: 100%;
    margin: 0 auto 4% auto;
}

/** carousel **/

.carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 7%;
}

.carousel-indicators li:last-of-type {
    margin-right: 0;
}

/** product input **/

#product-input {
    margin-top: 15%;
}

#product-input div {
    margin-bottom: 5%;
}

#product-input label {
    font-weight: bold;
}

#product-input div input, #product-input select {
    padding-left: 2%;
}

#product-input div{
    display: flex;
    flex-direction: column;
}

#product-input label {
    margin-bottom: 0;
}

#add-to-cart {
    padding: 5% 10%;
    margin-top: 8%;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

#add-to-cart:hover {
    background-color: #c4c4c4;
}

/** stars rating **/

.rating-header {
    display: block;
    margin-bottom: 5%;
}

.fa-star {
    color: #c4c4c4;
}

.checked {
    color: #606060;
}

/** price section **/

#price-section strong{
    font-size: 2.4rem;
    margin-right: 10%;
    
}

.price-off {
    color: red;
}

.normal-price {
    color: green;
}

#price-section del {
    font-size: 1.2rem;
}

/** product description **/
#product-description h2 {
    margin-bottom: 4%;
}

#product-attributes th{
    padding-right: 10%;
}