/** product colors**/

.color-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    bottom: 5%;
    left: 10%;
}

.color-box:before {
    content: "";
    display: block;
    padding-top: 10%;
}

.color {
    border: 1px solid black;
    cursor: pointer;
    width: 20%;
    background: #ca0164;
}

.color:before {
    content: "";
    display: block;
    padding-top: 100%;
}

/** product information **/

.product-content {
    display: flex;
    margin-top: 4%;
}

.product-info {
    width: 80%;
}

.product-info del {
    display: inline-block;
    margin-right: 10%;
}

.cart {
    width: 20%;
}

/** sorting **/

select {
    border-radius: 5px;
}

select:focus {
    outline: none;
}

/** left filter **/

label {
    font-weight: bold;
}

#left-filter {
    margin-left: 0.8%;
    border: solid 1px #c4c4c4;
    height: fit-content;
}

#left-filter ul {
    list-style: none;
    padding-left: 10%;
}

#left-filter>ul {
    margin-top: 10%;
}

#left-filter label {
    font-weight: normal;
    margin-left: 2%;
    cursor: pointer;
    display: inline;
}

.filter-category {
    margin-bottom: 25%;
}

.filter-category:last-child {
    margin-bottom: 15%;
}

.filter-category ul {
    margin-top: 9%;
}

.filter-category li {
    margin-bottom: 4%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter-category li:last-child {
    margin-bottom: 0;
}

/** top filter **/

.dropdown-button {
    width: 100%;
    border: none;
    background-color: #ffffff;
    padding-left: 2%;
}

.dropdown-button:focus {
    outline: none;
}

.dropdown-button-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-filter, .dropdown-button {
    border-radius: 5px;
}

#top-filter {
    border: 1px solid rgb(118, 118, 118);
}

.top-filter-menu {
    display: none;
    padding: 2% 4%;
}

.top-filter-menu label, .top-filter-menu select{
    display: block
}

.top-filter-menu label {
    margin-bottom: 0;
}

.top-filter-menu select{
    width: 100%;
    margin-bottom: 3%;
}

.show {
    display: block;
}

/** stolen from bootstrap **/
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/** breadcrumb **/

.breadcrumb {
    background-color: #ffffff;
    margin-bottom: 0;
}

hr {
    width: 94%;
    margin: 0 auto 2% auto;
}

.page-link {
    border: 0;
}

.pagination li .pagination-three-dots:hover {
    background-color: #ffffff;
}

/** media queries **/

@media (min-width: 300px) {
    label {
        margin-right: 2%;
    }

    select {
        padding-left: 2%;
        padding-right: 5%;
    }

    #sort-label {
        margin-bottom: 0;
    }
}

@media (min-width: 400px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {

    label {
        margin-right: 5%;
    }
    select {
        padding-left: 2%;
        padding-right: 20%;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}