/* global styles */

/*
* {
    outline: 1px solid;
}*/

body {
    position: relative;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-m-b {
    margin-bottom: 4%;
}

.row-smaller-m-b {
    margin-bottom: 2%;
}

.wrapper {
    margin-top: 2%;
}

.image-content {
    position: relative;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.horizontal-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.center-col {
    margin-left: auto; 
    margin-right: auto;
}

.white-image-captions {
    color: white;
    text-shadow: 0 0 0.4em #000;
}

select, select:focus, input, input:focus {
    outline: none;
}

#opaque-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}

.scroll-disable-xs {
    overflow-y: hidden;
}

.left-menu-close {
    position: absolute;
    z-index: 3;
    top: 30px;
    left: 250px;
}

/** header **/

.header-icons {
    display: flex;
    flex-direction: row-reverse;
}

.header-icons > * {
    margin-right: 7%;
}

.header-icons > *:first-child{
    margin-right: 2%;
}

.icon-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.icon-btn:focus  {
    outline: none;
}

.cart-link, .cart-link:active, .cart-link:visited {
    color: black;
}

.search-full-text {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid black;
    
}

.vertical-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.icon {
    font-size: 2.1rem;
}

/** search **/

#search-form-xs {
    flex-grow: 1;
}

#search-input-xs {
    width: 80%;
}

#search-submit-xs {
    width: 15%;
}

/** profile **/

#icons-box {
    position: static;
}

#profile-dropdown {
    position: static;
}

#profile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 310px;
    height: 100%;
    padding-top: 100px;
    background-color: #f6f6f6;
    border: 1px solid #aaaaaa;
}

#profile-menu ul{
    list-style: none;
}

#profile-menu li{
    margin-bottom: 7%;
}

#profile-menu a, #profile-menu a:visited {
    text-decoration: none !important;
    font-weight: bold;
    color: black;
}

#profile-menu a:active, #profile-menu a:focus {
    outline: none;
}

/** media queries **/

@media (min-width: 576px) {
    .scroll-disable-xs {
        overflow-y: scroll;
    }

    .search-full-text {
        width: 350px;
    }

    .icon {
        font-size: 2.5rem;
    }

    /** profile **/

    #profile-dropdown {
        position: relative;
    }
    
    #profile-menu {
        display: none;
        position: absolute;
        top: 55px;
        left: -55px;
        z-index: 1;
        min-width: 160px;
        min-height: 120px;
        padding-top: 25px;
        background-color: #f6f6f6;
        border: 1px solid #aaaaaa;
        border-radius: 5px;
    }
    
    #profile-menu ul{
        list-style: none;
        width: 70%;
        margin: 0 auto;
        padding-left: 0;
    }
    
    #profile-menu li{
        margin-bottom: 7%;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .search-full-text {
        width: 300px;
    }
}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
    
}
